<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="icon" type="image/x-icon" href="/images/note-icon.svg">
        <script src="https://kit.fontawesome.com/501910dff8.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 class="animate__animated animate__zoomInDown animate__slower" >ToDo List</h1>
        <main class="main-container animate__animated animate__fadeInUp animate__slow">
            <form class="form1" action="/create-note" method="post" >
                <div class="description">
                    <p class="description-heading" >description</p>
                    <input name="description" type="text" placeholder="What do you need to do?" required>
                </div>
                <div class="category-date">
                    <div class="category">
                        <p class="category-heading">Category</p>
                        <select class="category-select" name="category">
                            <option value="idle">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="Home">Home</option>
                            <option value="Chores">Chores</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="date">
                        <p class="date-heading">due date</p>
                        <input name="date" id="date" class="date-input" type="date" 
                        min=minDate
                        >
                    </div>
                </div>
                <div class="buttons">
                    <button id="add-button" type="submit"><i class="fa-solid fa-plus" style="color: #000000;"></i><p>Add Task</p></button>
                    <button id="delete-button" type="button"><i class="fa-solid fa-trash" style="color: #000000;"></i><p>Delete tasks</p></button>
                </div>
            </form> 
            
            
            <form class="form2" action="/delete-note" method="post">
            <ul type="none" class="task-list">
                    <li>
                        <div class="task-container">
                            <input type="checkbox">
                            <div class="list-content-date">
                                <div class="task-description">
                                    to bring some balls
                                </div>
                                <div class="task-date">
                                    <p>2023-04-25</p>
                                </div>
                            </div>
                            <div class="list-category">

                            </div>
                        </div>
                    </li>
                </ul>
            </form>

        </main>        
        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>