/* including the required fonts  */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css properties for h1 tag  */
h1 {
    font-family: Pacifico;
    font-size: 4vw;
    color: #ffffff;
    width: 50%;
    margin: auto;
    text-align: center;
    text-shadow: 3px 3px #03045e;
}

/* giving background to the page  */
html {
    background: linear-gradient(-30deg, #0887a0, #78ffd6);
    background-attachment: fixed;
}

/* removing the scrollbar  */
html::-webkit-scrollbar {
    display: none;
}

/* css for main container  */
.main-container {
    height: auto;
    width: 70vw;
    border-radius: 10px;
    margin: auto;
    background-color: #caf0f880;
    display: flex;
    flex-direction: column;
    font-family: dongle;
    font-size: 4vw;
}

/* css properties for form1  */
.form1 {
    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    border-radius: 10px;
    /* background-color: #99d98c; */
    padding: 1%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}
/* providing margin bottom to each div in the form1  */
.form1>div {
    margin-bottom: 5px;
}

/* css properties for the description section  */
.description {
    height: 10vw;
    width: 100%;
    /* background-color: #e3f2fd; */
    background-color: #ade8f4;
    box-sizing: border-box;
    padding: 1%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    border-bottom: 4px solid #00296b80;
}
/* css for the description heading  */
.description-heading {
    height: 50%;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

/* css for the description input  */
.description input {
    height: 50%;
    width: 100%;
    font-family: dongle;
    background-color: #ffffff80;
    font-size: 3vw;
    border: none;
    border-radius: 5px;
}

/* removing outlines  */
input[type=text]:focus {
    outline: none;
}

/* css properties for the category and date section  */
.category-date {
    height: 10vw;
    width: 100%;
    /* background-color: #e3f2fd; */
    background-color: #ade8f4;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom: 4px solid #00296b80;
    display: flex;
    padding: 1%;
    flex-direction: row;
}

/* css for category section  */
.category {
    border-right: 2px solid #00296b80;
    width: 50%;
}

/* css for category heading  */
.category-heading {
    height: 50%;
    margin: 0;
    padding-left: 1%;
    font-weight: 800;
    text-transform: uppercase;
}

/* css for category selection */
.category-select {
    width: 90%;
    height: 4vw;
    border: none;
    border-radius: 5px;
    background-color: #ffffff80;
    font-family: Dongle;
    font-size: 3vw;
    cursor: pointer;
}
/* removing outlines  */
.category-select:focus {
    outline: none;
}

/* css for individual options  */
.category-select option {
    background-color: #e1faff;
    font-size: 2.6vw;
}

/* css for date section  */
.date {
    padding-left: 1%;
    width: 50%;
}

/* css for date heading  */
.date-heading {
    height: 50%;
    width: 100%;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

/* css for date input */
.date-input {
    cursor: pointer;
    padding: 1%;
    width: 70%;
    height: 4vw;
    border: none;
    border-radius: 10px;
    background-color: #ffffff80;
    font-family: Dongle;
    font-size: 3vw;
    letter-spacing: 0.3vw;
}

/* removing outlines  */
.date-input:focus {
    outline: none;
}

/* creating the button section  */
.buttons {
    height: 7vw;
    width: 100%;
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    /* background-color: #e3f2fd; */
    background-color: #ade8f4;
    border-bottom: 4px solid #00296b80;
    display: flex;
    justify-content: space-around;
}

/* css for button tag  */
.buttons button {
    width: 30%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.4vw;
    font-weight: 500;
    font-family: dongle;
    border-radius: 10px;
    /* background-color: #90e0ef; */
    background-color: #f3faff;
    border: none;
    border-bottom: 4px solid #00296b80;
    cursor: pointer;
}

/* inside button  */
.buttons button p {
    padding-top: 3%;
}

/* icon inside button tag  */
.buttons button i {
    font-size: 2vw;
    margin-right: 1vw;
}
/* delete button  */
#delete-button {
    background-color: #48cae4;
}

/* creating the task section  */
.form2 {
    padding: 1%;
    margin: 0;
}
/* all tasks  */
.task-list {
    padding: 0;
    margin: 0;
}

/* individual tasks  */
.task-container {
    height: auto;
    width: 100%;
    min-height: 10vw;
    display: flex;
    padding: 1%;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    /* background-color: #778da9;
    background-color: #90e0ef; */
    background-color: #e3f2fd;
    border-bottom: 4px solid #001e5590;
    margin-bottom: 1vw;
    justify-content: space-between;
}

/* date and description section inside task  */
.list-content-date {
    height: auto;
    width: 80%;
    min-height: 10vw;
    display: flex;
    flex-direction: column;
}

/* description section  */
.note-description {
    height: auto;
    width: 100%;
    overflow: scroll;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 10px;
    padding: 0;
    padding-left: 1%;
    margin: 0;
    margin-bottom: 0.4vw;
}
/* removing scrollbar from tasks*/
.note-description::-webkit-scrollbar {
    display: none;
}
 /* creating the category section  */
.list-category {
    width: 15%;
    height: 5vw;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: poppins;
    font-weight: 600;
    font-size: 2vw;
}

/* making the checkbox bigger  */
input[type=checkbox] {
    transform: scale(1.4);
}
 /* date section in task  */
.note-date {
    height: 4vw;
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #90e0ef;
    border-radius: 10px;
    border-bottom: 4px solid #1b263b70;
    padding: 0;
    padding-left: 2%;
    margin: 0;
    font-size: 3vw;
}

/* icon in date section  */
.note-date i {
    padding-right: 10%;
    font-weight: 100;
    font-size: 2vw;
}
/* text in date section  */
.note-date span {
    margin: 0;
    padding-top: 2%;
}

/* making the site slightly responsive  */

@media screen and (max-width:700px) {
    .main-container {
        width: 90vw;
    }

    input[type=checkbox] {
        transform: scale(1);
    }
}